*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #433E49;
    color: #F3E8EB;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 0px 10%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 60px;
}

nav ul li a{
    color: #F3E8Eb;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DBC1AD;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    text-align: right;
    margin-top: 20%;
    font-size: 60px;
}

.header-text h1{
    font-size: 30px;
    margin-top: 20px;
}

    .header-text h1 span {
        color: #DBC1AD;
    }


/*-----------about--------------*/
#about {
    padding: 80px 0;
    color: #F3E8Eb;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_col_2{
    flex-basis: 35%;
}

about_col_1{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    text-decoration: underline;
}
.main_body {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    padding: 15px 0;
}
.tab_titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab_links {
    margin-right: 50px;
    color: #F3E8Eb;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab_links::after {
        content: '';
        width: 0;
        height: 3px;
        background: #DBC1AD;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
}

.tab_links.active_link::after{
    width: 50%;
}
.tab_contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab_contents ul li span {
        color: #DBC1AD;
        font-size: 20px;
}
.tab_contents{
    display: none;
}
.tab_contents.active_tab{
    display: block;
}
.picture{
    height: 1000px;
}
/*-----------Current Projects--------------*/
#currProjects{
    padding: 30px 0;
}
.project_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.project_list div{
    background: #928490;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.project_list div i{
    color: #433E49;
    font-size: 40px;
    margin-bottom: 30px;
}
.project_list h2{
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline;
    color: #DBC1AD;
    margin-bottom: 15px;
}
.project_list div a{
    text-decoration: none;
    color: #F3E8EB;
    margin-top: 20px;
    display: inline-block;
}
.project_list div:hover{
    background: #6d9871;
    transform: translateY(-10px);
}
#shiver_back {
    background-image: url(Images/ShiverArtwork.png);
    background-size: cover;
    background-position: center;
}

/*-----------Portfolio--------------*/
#portfolio{
    padding: 50px 0;
}
.work_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 200px;
    margin-top: 200px;
    margin-bottom: 100px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0, 0, 0, 0.60), #6d9871);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #DBC1AD;
    text-decoration: underline;
}
.layer p{
    font-size: 14px;
}
.layer a{
    margin-top: 20px;
    color: #433E49;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #F3E8EB;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #F3E8EB;
    background: #928490;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none; 
    color: #F3E8EB;
    transition: background 0.5s;
}
.button:hover{
    background: #6d9871;
}




/*-----Gallery------*/
.gallery{
    padding: 20px;
    background: #150f1a; 
}
.gallery h1{
    margin-bottom: 30px;
    font-size: 35px;
    text-decoration: underline;
    color: #DBC1AD;
}
.gallery p{
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 20px;
}
.returnBtn {
    display: block;
    margin: 25px;
    width: fit-content;
    border: 1px solid rgb(0, 0, 0);
    background: #928490;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #F3E8EB;
    transition: background 0.5s;
}
.returnBtn:hover{
    background: #6d9871;
}
.scroll_container{
    background-color: #928490;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 6px;
}
.card{
    display: inline-block;
    height: 100%;
}
.overlay {
    position: sticky;
    transform: translateY(50);
    text-align: center;
    align-items: center;    

}
.overlay h3{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: underline;
}
.overlay p {
    font-size: 18px;
}
.scroll_container img{
    border-radius: 10%;
    margin: 20px 20px;  
    border: 5px solid rgb(0, 0, 0);
    height: 540px;
    width: 960px;
    transition: transform 0.5s;
}
.scroll_container img:hover{
    transform: scale(1.1);
}




